/* ******** GLOBAL CSS ******** */
* {margin: 0;padding: 0;box-sizing: border-box;}

body {
  background-color: rgb(48, 47, 47);
}

.App {
  /* display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  font-family: Arial, Helvetica, sans-serif; */
  text-align: center;
}



/* h1.main-title{
  margin: 50px 0;
  color: #cccccc;
} */

/* ******** MENU ******** */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  color: white;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  list-style: none;
}

/* ******** GAMERS ******** */

/* .gamers-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
} */