/* ******** GLOBAL CSS ******** */
* {margin: 0;padding: 0;box-sizing: border-box;}

body {
  background-color: rgb(48, 47, 47);
}

.App {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
}

h1.main-title{
  margin: 50px 0;
  color: #cccccc;
}

/* ******** GAMERS ******** */

/* .gamers-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
} */