/* ******** COMING SOON ******** */

.ComingSoon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
  }
  
  .forLogo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    align-content: center;
    min-width: 100px;
    max-width: 200px;
    height: auto;
  }
  
  .waiting-text {
    text-align: center;
  }
  