.GamerCard {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  width: 300px;
  height: 300px;
  padding: 20px;
  margin: 20px;
  /* background-color:  rgb(48, 47, 47); */
  box-shadow: 5px 5px 20px #d73983, -2px -2px 20px  #3a98d9;
  /* box-shadow: 0 0 10px rgb(83, 250, 236); */
  color: rgb(83, 250, 236);
  cursor: pointer;
}

.Gamer-shield {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Gamer-photo {
  display: flex;
  justify-content: center;
  align-items: center;  
  margin-bottom: 20px;
  margin-bottom: 50px;
  /* box-shadow: inset 0 0 5px rgb(83, 250, 236); */
}

.Gamer-photo img {
    width: 150px;
    height: 150px;
}

.Gamer-description {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 20px;
}
.Gamer-pseudo{
  font-weight: bold;
  font-size: 20px;
}
.Gamer-motto{
  /* font-weight: bold; */
  font-size: 16px;
  text-align: center;
}
